body {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: 'Lalezar', cursive;
  justify-content: center;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lalezar', cursive;
}

.homeWrapper h1 {
  font-size: 5em;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper p{
  font-size: 1em;
}

.buttons {
  text-align: center;
}




.buttonWrapper button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
	padding: 10px;
  cursor: pointer;
  font-size: 2em;
  font-family: 'Lalezar', cursive;
  outline: inherit;
}

.categoryAnimals{
 color: lightseagreen;
}
.categoryFilms{
 color: forestgreen;
}
.categoryComputers{
 color: palevioletred; 
}
.categoryHistory{
   color: gold; 
}

.divHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(https://media2.picsearch.com/is?QGfrOrXUfwFqmdAtim1mgidQgQZV6HPAHrV39xPU63Y&height=213); */
}

.questionsWrapper {
  background-color: white;
  width: 50%;  
}

.buttonBoulean {
	background: none;
	border: none;
	padding: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lalezar', cursive;
  outline: inherit;
}